- if signed_in?
  = render :partial => "shared/notice_invites"
- else
  = render :partial => "shared/notice_beta"

#page_header
  %h2
    Invite a Friend

#page_body.wide
  = error_messages_for :invite
  - form_for(@invite, :url => invites_path, :builder => HandcraftedFormBuilder ) do |f|
    - field_set_tag do
      = f.text_field :email
      = f.submit "Request Invite" do
        - link_to "Cancel", root_url, :class => "cancel"