- unless options[:no_header]
  %h2
    = options[:name]
- if objects.blank?
  %p
    = "There are no #{options[:name].downcase} yet."
- else
  %table.sortable
    %thead
      %tr
        - options[:headers].each do |header|
          %th
            =h header
  
    - if objects.respond_to?(:total_pages)
      %tfoot
        %td{:colspan => options[:headers].size + 1}
          = will_paginate(objects)
  
    %tbody
      - objects.each do |object|
        %tr
          - options[:data].each_with_index do |object_data, index|
            - if index == 0 && options[:link_action]
              %td
                = link_to object.send(object_data.to_sym), {:controller => options[:controller], :action => options[:link_action].to_s, :id => object.id}
            - else
              %td
                =h object.send(object_data.to_sym)