#page_header
  %h2
    Edit your Account
#page_body
  = error_messages_for :user
  - form_for :user, :url => user_path(@user), :builder => HandcraftedFormBuilder, :html => {:method => :put, :multipart => true} do |f|
    %fieldset
      %legend Edit your details

      = f.text_field :email, :example => "johnsmith@gmail.com"
      = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
      - fields_for @user.profile, :builder => HandcraftedFormBuilder do |p|
        = p.text_field :first_name
        = p.text_field :last_name
        - if @site.user_avatars?
          = p.file_field :avatar
      = f.password_field :password
      = f.password_field :password_confirmation
      = f.submit "Update" do
        - link_to "Cancel", account_url, :class => "cancel"