#page_header
  %h2{:style => "position: relative;"}
    = @user.email
    - if false#@site.user_avatar_upload?
      = image_tag(@user.profile.avatar.url(:thumb), :style => "position: absolute; top: 0; right: 0;")
#page_body
  %p
    Click here to
    = link_to "edit your account", edit_account_url

  -if false#@site.beta_invites?
    = render :partial => "shared/notice_invites"
    = render :partial => "invite"