%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
%meta{:name => "lang", :content => "en"}

-# The documents Page Title
%title
  = page_title

-# We place the content_optimization piece closer to the title
= render :partial => "shared/head/seo/head_content_optimization"

-# Site CSS
= render :partial => "shared/head/stylesheets/admin"

-# Site Javascript
= render :partial => "shared/head/javascript/base_admin"

-# IE6 Update Javascript
= render :partial => "shared/head/javascript/ie6_update"

-# SEO
= render :partial => "shared/head/seo/base"