= render :partial => "shared/notice_referral"

#page_header
  %h2
    Refer a Friend

#page_body.wide
  - form_for :referral, :url => referrals_url, :builder => HandcraftedFormBuilder do |f|
    - field_set_tag do
      = f.first_last :first_name, :last_name
      = f.text_field :email, :example => "johnsmith@gmail.com"
      = f.text_area :friends_email, :rows => 5
      = f.text_area :email_text
      = f.submit "Tell your friends" do
        - link_to "Cancel", root_url, :class => "red"