#page_header
  %h1 Invites

#page_body
  %h2 Pending invites
  = sortable_table @pending_invites, :data => [:email, :used, :approved, :created_at], :link_action => nil
  
  %h2 Used invites
  = sortable_table @used_invites, :data => [:email, :used, :approved, :created_at], :link_action => nil
  
- content_for :sidebar do
  #invites
    %h2
      Update Invites
    %ul
      %li Default Invites Count: 3
      %li
        Current Invites Total: 
        = User.invite_count

    - form_tag reset_admin_invites_url do |i|
      .field
        = label(:invite, :number, "Reset invites to:")
        = text_field(:invite, :number, :size => 3, :id => "update_invites")
      .form_actions
        = submit_tag("Update invites")