#page_header
  %h1
    = "Editing #{@email.name}"

#page_body
  / Edit email form
  - form_for @email, :url => admin_email_url(@email), :builder => HandcraftedFormBuilder do |f|
    = f.text_field :name, :example => "invitation"
    = f.text_field :subject, :example => "Welcome to #{@site.name}"
    = f.text_area :body, :example => "You have been invited!"
    = f.submit "Update" do
      - link_to "Cancel", admin_emails_url, :class => "cancel"