#page_header
  %h1
    = "Editing #{@user.display_name}"

#page_body
  / Edit user form
  - form_for @user, :url => admin_user_url(@user), :builder => HandcraftedFormBuilder do |f|
    = f.text_field :email, :example => "Frank@gethandcrafted.com"
    = f.password_field :password
    = f.password_field :password_confirmation
    - fields_for @user.profile, :builder => HandcraftedFormBuilder do |profile|
      = profile.text_field :first_name, :example => "Frank"
      = profile.text_field :last_name, :example => "Miller"
    = f.submit "Update" do
      - link_to "Cancel", admin_users_url, :class => "cancel"