= render :partial => "shared/notice_invite_required"

#page_header
  %h2
    = "Sign In"

#page_body
  - form_for :user_session, :url => user_session_url, :builder => HandcraftedFormBuilder do |f|
    - field_set_tag do
      = f.text_field :email
      = f.password_field :password
      .form_actions
        = submit_tag "Sign In", :class => "awesome"
        = link_to "Reset Password", '#', :class => "awesome"