!!! Strict
= render :partial => "shared/head/signature"
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", :'xml:lang' => "en"}
  %head= render :partial => "shared/head/head_admin"
  %body{:class => "application #{body_class(params[:controller], params[:id])} #{action_name}"}
    = render :partial => "admin/shared/mast_head"
    #page
      = render :partial => "shared/flash_messages"
      = yield
    = render :partial => "admin/shared/footer"
    = render :partial => "shared/foundation_footer"